<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <meta charset="utf-8"/>
    <!--为了确保适当的绘制和触屏缩放，要添加以下的代码-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--在移动设备浏览器上，通过为视口（viewport）设置 meta 属性为 user-scalable=no 可以禁用其缩放（zooming）功能。这样禁用缩放功能后，用户只能滚动屏幕，就能让你的网站看上去更像原生应用的感觉。注意，这种方式我们并不推荐所有网站使用，还是要看你自己的情况而定！
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    -->
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<!--带搜索的导航条-->
<nav class="navbar navbar-inverse navbar-default" role="navigation" th:fragment="menu_top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">后台管理</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <span th:if="${session.user.role.roleLevel ==1}">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">模块管理<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/task/server/module/list">查看模块</a></li>
                        <li><a href="/task/server/module/edit">增加模块</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">动态文件管理<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/task/server/file/list">查看动态文件</a></li>
                        <li><a href="/task/server/file/edit">增加动态文件</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户管理<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/task/server/user/list">查看用户</a></li>
                        <li><a href="/task/server/user/edit">添加用户</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">数据详单<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/task/server/detail/listrequest">任务请求详单</a></li>
                        <li><a href="/task/server/detail/listcomplete">任务完成详单</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">设备统计<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/task/server/data/device/list?type=1">按小时</a></li>
                        <li><a href="/task/server/data/device/list?type=2">按天</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">模块统计<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/task/server/data/bean/list?type=1&dataType=module">按小时</a></li>
                        <li><a href="/task/server/data/bean/list?type=2&dataType=module">按天</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">任务统计<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/task/server/data/bean/list?type=1&dataType=task">按小时</a></li>
                        <li><a href="/task/server/data/bean/list?type=2&dataType=task">按天</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/task/server/black/list" class="dropdown-toggle">
                        黑名单管理 <b class="caret"></b>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="/task/server/apkversion/list" class="dropdown-toggle">
                        客户端管理 <b class="caret"></b>
                    </a>
                </li>
            </ul>
                </ul>
            </span>
            <span th:if="${session.user.role.roleLevel ==2}">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="/task/server/module/list" class="dropdown-toggle">
                        模块管理 <b class="caret"></b>
                    </a>
                </li>
                <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">任务数据详单<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/task/server/detail/listrequest">任务请求详单</a></li>
                        <li><a href="/task/server/detail/listcomplete">任务完成详单</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">模块统计<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/task/server/data/bean/list?type=1&dataType=module">按小时</a></li>
                        <li><a href="/task/server/data/bean/list?type=2&dataType=module">按天</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">任务统计<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/task/server/data/bean/list?type=1&dataType=task">按小时</a></li>
                        <li><a href="/task/server/data/bean/list?type=2&dataType=task">按天</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/task/server/black/list" class="dropdown-toggle">
                        黑名单管理 <b class="caret"></b>
                    </a>
                </li>
            </ul>
            </span>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">设置 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/task/server/page/update_password.html">修改密码</a></li>
                        <li><a href="/task/server/user/exit">安全登出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</body>
</html>