<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--在移动设备浏览器上，通过为视口（viewport）设置 meta 属性为 user-scalable=no 可以禁用其缩放（zooming）功能。这样禁用缩放功能后，用户只能滚动屏幕，就能让你的网站看上去更像原生应用的感觉。注意，这种方式我们并不推荐所有网站使用，还是要看你自己的情况而定！
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    -->
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<nav class="navbar navbar-inverse navbar-default" role="navigation" id="top" th:include="menu_top :: menu_top"></nav>
<div class="col-md-8 col-sm-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            修改密码
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <form role="form" id="form" name="form">
                        <div class="form-group">
                            <label>请输入密码</label>
                            <input type="password" id="password" name="password"
                                   placeholder="请输入密码"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>再次确认密码</label>
                            <input type="password" id="passwordAgain" name="passwordAgain"
                                   class="form-control"
                                   placeholder="再次确认密码"/>
                        </div>
                        <div id="errMsg" style="display: none;" class="alert alert-info"></div>
                        <button type="button" id="saveBtn" onclick="update()" class="btn btn-link btn-primary">保存修改
                        </button>
                    </form>
                </div>
                <!-- /.col-lg-6 (nested) -->
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.panel-body -->
    </div>
</div>
</body>
<script type="application/javascript">
    function update() {
        if ($("#password").val() == "" || $("#passwordAgain").val() == "") {
            $("#errMsg").html('密码不能为空');
            $("#errMsg").show();
        } else if ($("#password").val() != $("#passwordAgain").val()) {
            $("#errMsg").html('两次密码输入不一致');
            $("#errMsg").show();
        } else {
            $.post("/task/server/user/updatePassword", {
                "password": $("#password").val()
            }, function (data) {
                $("#errMsg").html(data.resultMsg);
                $("#errMsg").show();
            }, "json")
        }
        $("#password").focus();
    }
</script>
</html>
