<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--在移动设备浏览器上，通过为视口（viewport）设置 meta 属性为 user-scalable=no 可以禁用其缩放（zooming）功能。这样禁用缩放功能后，用户只能滚动屏幕，就能让你的网站看上去更像原生应用的感觉。注意，这种方式我们并不推荐所有网站使用，还是要看你自己的情况而定！
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    -->
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-default" role="navigation" id="top" th:include="menu_top :: menu_top"></nav>
<div class="col-md-8 col-sm-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            用户<label th:text="${user.id ==null ?'新增':'编辑'}"></label>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <form role="form">
                        <div class="form-group">
                            <label>用户名</label>
                            <input type="hidden" class="inp w240" id="id" name="id" th:value="${user.id}"/>
                            <input type="text" id="username" name="username" th:value="${user.username}"
                                   class="form-control"
                                   th:readonly="${not #strings.isEmpty(user.username)}"
                                   placeholder="请输入用户名"/>
                            <div id="usernameMsg" style="display: none;" class="alert alert-info"></div>
                        </div>
                        <div class="form-group">
                            <label>是否可用</label>
                            <select name="status" id="status" class="form-control">
                                <option th:selected="${user.status==1}" value="1">启用</option>
                                <option th:selected="${user.status==0}" value="0">停用</option>
                            </select>
                        </div>
                        <button type="button" id="saveBtn" onclick="formSubmit()" class="btn btn-link btn-primary">保存
                        </button>
                        <button type="reset" onclick="returnBack()" class="btn btn-link">取消</button>
                    </form>
                </div>
                <!-- /.col-lg-6 (nested) -->
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.panel-body -->
    </div>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    function formSubmit() {
        if (!($("#username").val())) {
            $("#usernameMsg").html("用户名不能为空");
            $("#usernameMsg").show();
            $("#username").focus();
            return false;
        }
        $("#usernameMsg").hide();
        $.post("/task/server/user/save", {
            "id": $("#id").val(),
            "username": $("#username").val(),
            "status": $("#status").val()
        }, function (data) {
            if (data.resultCode == "SUCCESS") {
                //保存成功
                window.location.href = "/task/server/user/list";
            } else {
                //保存失败
                $("#usernameMsg").html(data.resultMsg);
                $("#usernameMsg").show();
            }
        }, "json")
    }

    function returnBack() {
        window.history.back();
    }

    /*]]>*/
</script>
</html>